@{
    Layout = null;
    string title = "The amazing spiderman";
    int issueNumber = 700;
    string description = "Spiderman movie";
    string[] artits = new string[]
        {
            "Artist 1 ",
            "Artist 2 ",
            "Artits 3 ",

        };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Title: @title</h1>
        <h2>Description: @description</h2>
        <h2>Issue Number: @issueNumber</h2>
       
        <div>
           Artits:
            @if(artits.Length < 0)
            {
                <p>No Artists Available</p>
            }

            else
            {
            <ul>
                @foreach (var item in artits)
                {
                    <li>@item</li>

                }
            </ul>
            }

        </div>
       
    </div>
</body>
</html>
